.allsettings{
    /* width: 300px; */
   
    height: 650px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 40px;
}

.allsettings > div {
    margin-block: 20px;
    margin-inline: 30px;
}









