

/* body{
    padding: 0;
    margin:0; 
    background-color: var(--backgroundColor);
    color: var(--navtextColor);
} */

.home{
height: auto;
width: 100%;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: var(--backgroundColor);
color: white;
}


.hometop{
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
}
.hometop > ul {
    height: auto;
    width: 70%;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    /* flex-direction: row; */
}

.hometop > ul > li > ul {
    width: 80%;
    margin-block-start: 90px;
}

.hometop > ul > li > ul > li {
 margin-block: 20px;
}
.hometop > ul > li > ul > li.h1 {
    font-size: 40px;
    font-weight: 400;
    

}
.hometop > ul > li > ul > li.text {
      font-size: 15px;
      font-weight: 200;
      line-height: 30px;
}
.hometop > ul > li > ul{
    padding: 0;
    list-style: none;
}
.hometop > ul > li > ul > li > ul {
    padding: 0;
    list-style: none;
    display: flex;
    width: 250px;
    display: flex;
    justify-content: space-between;
}
.hometop > ul > li > ul > li > ul > li.btn{
      background-color: var(--btnbackgroundColor);
      padding: 3px 13px 6px 13px;
      border-radius: 10px;
      margin-block: 50px;
      font-size: 15px;
      box-shadow: 7px 7px 10px -6px rgba(10, 9, 9, 0.25);

}

.hometop > ul >  li > img {
    height: 500px;
    width: 400px;
}
































.homemid{
    height: auto ;
    /* background-color: blue; */
     display: grid;
     place-items: center;
     background-color: var(--backgroundColor);
     color: white;


}

.homemid > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 70%;
}
.homemid > ul > li {
    margin-block: 20px;
}
.homemid > ul > li.h1 {

    display: flex;

}
.homemid > ul > li.h1 div.plus_icon {
    margin-left: 30px;
}
.homemid > ul > li.h1 > div.txt {
  
}
.homemid > ul > li > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 15px;
    font-weight: 100;
    /* background-color: blue; */
    width: inherit;
    height: auto;
    display: flex;
    gap: 20px;


}
.homemid > ul > li > ul {

    /* background-color: blue; */
    width: inherit;
    height: auto;
    display: flex;
    flex-wrap: wrap;
 
}

.homemid > ul > li > ul > li {
    /* background-color:red; */
    /* border-style: inset; */
   border-style: ridge ;
    border-width: 1px;
    border-color: var(--borderColor);
}
.homemid > ul > li > ul > li > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    /* background-color:red; */
    width: 200px;
   
    box-shadow: 7px 7px 10px -6px rgba(9, 9, 9, 0.25);
}
.homemid > ul > li > ul > li > ul > li.txt > div.des{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.homemid > ul > li > ul > li > ul > li.txt > div {
    margin-inline: 7px;
    word-break: break-all;

}
.homemid > ul > li > ul > li > ul > li {
    width: 100%;
   
}
.homemid > ul > li > ul > li > ul > li > img {
 
    width: 100%;
    
}

.homemid > ul > li > ul > li > ul > li.del_edit {
    display: flex;
    width: inherit;
    justify-content: flex-end;
    
}
.homemid > ul > li > ul > li > ul > li > div.del_icon {
    margin-right: 10px;
    margin-bottom: 10px;
}
    
.homemid > ul > li > ul > li > ul > li > div.edit_icon {
    margin-right: 10px;
    margin-bottom: 10px;
}













.logo{
    height: 300px;
    display: grid;
    place-items: center;
}

.logo > img{
    height: 200px;
}







































































@media screen and (max-width:1200px) {


    

    /* body{
        overflow-x: hidden;
    } */
    
    .home{
        height: auto;
        width: 100%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: var(--backgroundColor);
        color: white;
        }
        
        
        .hometop{
            width: 100%;
            height: auto;
            display: grid;
            place-items: center;
        }
        .hometop > ul {
            height: auto;
            width: 80%;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            gap: 0px;
            /* flex-direction: row; */
        }
        
        .hometop > ul > li > ul {
            width: 100%;
            /* margin-block-start: 10px; */
        }
        
        .hometop > ul > li > ul > li {
         margin-block: 10px;
        }
        .hometop > ul > li > ul > li.h1 {
            font-size: 40px;
            font-weight: 400;
            
        
        }
        .hometop > ul > li > ul > li.text {
              font-size: 15px;
              font-weight: 200;
              line-height: 30px;
        }
        .hometop > ul > li > ul{
            padding: 0;
            list-style: none;
        }
        .hometop > ul > li > ul > li > ul {
            padding: 0;
            list-style: none;
            display: flex;
            width: 200px;
            display: flex;
            justify-content: space-between;
        }
        .hometop > ul > li > ul > li > ul > li.btn{
              background-color: var(--btnbackgroundColor);
              padding: 3px 13px 6px 13px;
              border-radius: 10px;
              /* margin-block: 50px; */
              font-size: 15px;
              box-shadow: 7px 7px 10px -6px rgba(10, 9, 9, 0.25);
        
        }
        
        .hometop > ul >  li > img {
            height: 200px;
            width: 200px;
            position: relative;
            top: 40px;

        }
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        .homemid{
            height: auto ;
            /* background-color: blue; */
             display: grid;
             place-items: center;
             width: 100%;
             overflow-y:hidden;
             overflow-x: auto; 
            
        
        
        }
        
        .homemid > ul {
            padding: 0;
            margin-left: 10px;
            list-style: none;
            width: 99%;
            /* background-color: blue; */
            overflow-y:hidden;
            overflow-x: auto; 
            display: flex;
            flex-direction: column;
            gap:30px;
        }


        .homemid::-webkit-scrollbar{
            display: none;
        }


        .homemid > ul > li {
            margin-block: 5px;
            width: inherit;
        }
        .homemid > ul > li.h1 {
        
            display: flex;
        
        }
        .homemid > ul > li.h1 div.plus_icon {
            margin-left: 30px;
        }
        .homemid > ul > li.h1 > div.txt {
          
        }

        .homemid > ul > li.item{
            width: inherit;
        }
     

        .homemid > ul > li.item > ul {
             padding: 0;
            list-style: none;
            width: inherit;
             height: auto;
            font-size: 15px;
            font-weight: 100;
            /* background-color: green; */
            overflow-y:hidden;
            overflow-x: auto; 
            display: flex;
            flex-wrap: nowrap;
           
        }

        .homemid > ul > li.item > ul::-webkit-scrollbar{
            display: none;
        }
        .homemid > ul > li.item > ul > li {
             height: auto;
            min-width: 200px;
           border-style: ridge ;
            border-width: 1px;
            border-color: var(--borderColor);
            box-shadow: 7px 7px 10px -6px rgba(9, 9, 9, 0.25); 
        }
        .homemid > ul > li.item > ul > li > ul {
            padding: 0;
            margin: 0;
            list-style: none;
            /* background-color:red; */
            width: 200px;
           
           
        }
        .homemid > ul > li.item > ul > li > ul > li.txt > div.des{
            display: flex;
            flex-direction: column;
            gap:10px;
        }
        .homemid > ul > li.item > ul > li > ul > li.txt > div {
            margin-inline: 7px;
            word-break: break-all;
        
        }
        .homemid > ul > li.item > ul > li > ul > li {
            width: 100%;
           
        }
        .homemid > ul > li.item > ul > li > ul > li > img {
         
            width: 100%;
            
        }
        
        .homemid > ul > li.item > ul > li > ul > li.del_edit {
            display: flex;
            width: inherit;
            justify-content: flex-end;
            
        }
        .homemid > ul > li.item > ul > li > ul > li > div.del_icon {
            margin-right: 10px;
            margin-bottom: 10px;
        }
            
        .homemid > ul > li.item > ul > li > ul > li > div.edit_icon {
            margin-right: 10px;
            margin-bottom: 10px;
        }
        
        
        
        
        
        
        
        
        
        
        
        
        
        .logo{
            height: 200px;
            display: grid;
            place-items: center;
        }
        
        .logo > img{
            height: 100px;
        }
        
        
        
    
}







