
.div{
    width:400px;
    height: 690px;
    overflow-y: scroll;
    /* background-color: blue; */
}

.div::-webkit-scrollbar{
    display: none;
}

.container {
    display: flex;
    align-items: center;
    margin-block: 20px;
    justify-content: space-between;
}

.pic > .img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.name {
    
    font-size: 30px;
}


.status{
    margin-right: 20px;
    font-size: 16px;
    color: rgb(59, 57, 57);
}













