/* 

.navbarmom{
    overflow: hidden;
}

.header{
    height: 100px;
    background-color:   rgb(35, 14, 35);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 8px 15px 0 rgba(119, 117, 117, 0.3);
}

.header > div {
    margin-inline: 20px;
}

.header > .titleactions {
    display: flex;
    justify-content: space-between;
}

.header > .title > .titletxt {
    font-size: 25px ;
}

.userimage > img {
    width: 45px;
    height: 40px;
}






























.tabnavbar{
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 70px;
    width: 100%;
    margin: 0px 30px 0px 0px;
    background-color:  rgb(35, 14, 35);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 14px ;
    box-shadow: 0 8px 15px 0 rgba(119, 117, 117, 0.3);
}

.tabnavbar > div {
    margin: 10px 30px 0px 30px;
}

.imghome > img {
    width: 40px;
    height: 20px;
    background-color:  rgb(35, 14, 35);
    background-color: transparent;
}

.imgcreate > img {
    width: 45px;
    height: 55px;
    background-color:  rgb(35, 14, 35);
    background-color: transparent;
}
.imgphone > img {
    width: 40px;
    height: 20px;
    background-color:  rgb(35, 14, 35);
    background-color: transparent;
}




/* ............slidding menu............... */
/*
.menu {
    width: 100%;
    height: 320px;
    background-color:  rgb(35, 14, 35);
    transform: translateY(+400px);
    transition: 0.5s;
    overflow-y: auto;
    box-shadow: 0 20px 150px 0 rgba(36, 35, 35, 0.3);
    position: fixed;
    bottom: 0px;
    left: 0px;
    color: white;
  }
  
  .menu::-webkit-scrollbar {
    background:rgb(240, 140, 155);
    width: 5px;
  }
  

  .showmenu {
    width: 100%;
    height: 320px;
    background-color:  rgb(35, 14, 35);
    transform: translateY(0);
    transition: 0.5s;
    overflow-y: auto;
    box-shadow: 0 20px 150px 0 rgba(36, 35, 35, 0.3);
    position: fixed;
    bottom: 0px;
    left: 0px;
    color: white;
   
  }


  .head_content{
      display: grid;
      grid-template-columns: 3fr 1fr;
      
  }

.hea_title{
    padding-left: 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.li{
    padding-top: 30px;
    padding-left: 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

  
.li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: font-weight 0.2s;
    display: grid;
    grid-template-columns: 1fr 3fr;
   
  }
 .li a:hover {
    font-weight: bold;
    /* color:rgb(201, 167, 224); */
  

/* .li > a >div {
    margin-inline-start: 20px;
} */

/*Menu exit*/

/*
.exit {
    color:white;
    font-size: 30px;
    font-weight: lighter;
    cursor: pointer;
    padding-left: 20px;
    position: relative;
    top:8px; 
    right: 15px;
    float: right;
  }
 

  .exit:hover {

  }


.imgmomo > img {
    height: 40px; 
    width: 60px;
}
.imgwhatsapp > img {
    height: 40px; 
    width: 60px;
}
.imgfacebook > img {
    height: 40px; 
    width: 40px;
}
.imginstagram > img {
    height: 40px; 
    width: 40px;
}


header .responsive_nav{
    transform:none;
    -webkit-transform:none;
    -moz-transform:none;
    -ms-transform:none;
    -o-transform:none;
} 

*/














































/* :root{
    --backgroundColor:  rgb(35, 14, 35);
    --navtextColor: white;
    --Navtexthighlight: rgb(121,118,118) ;
    ---btnbackgroundColor:rgb(48,48,52);
    --borderColor : rgba(56, 11, 56, 1);
    --textFontFamily : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --textsizeNormal: 15px; 
    --textsizeAverage: 20px; 
    --boxShadow: 7px 7px 10px -6px rgba(9, 9, 9, 0.25); 
} */

/* body{
    margin: 0;
} */

.nav{
    height: 110px;
    background-color:var(--backgroundColor);
    color: var(--navtextColor);
    display: grid;
    place-items: center;
    width: 100%;
  
}
.nav > ul{
  height: 100%;
  width: 95%;
   padding:0; 
   list-style: none;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
}
.nav > ul > li{
}
.nav > ul > li > ul{
    padding:0; 
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.nav > ul > li.title > ul {
}
.nav > ul > li.title > ul > li {
    margin: 0;
}
.nav > ul > li.title > ul > li > img {
    height: 30px;
    width: 30px;
}

.nav > ul > li > ul > li > div.header{
font-size: 40px;
font-weight: 300;
letter-spacing: 2px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav > ul > li > ul > li{
    font-size: 15;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    margin-inline-end: 50px;
}


.nav > ul > li.profile{

    background-color: var(--backgroundColor);
    border-radius: 50%;
    height: 45px;
    width: 45px;


}
.nav > ul > li.profile > img{
    height: 100%;
    width: 100%;
    border-radius: 50px;
}



.nav > ul > li.hamberger_icon{
     display: none;   
}


.slide_menu_hide,.slide_menu_active {
    display: none;
}



.child{
    height: 600px;
    background-color: blue;
}
































.slide_menu_user_hide{
        /* transform: translateX(+300px); */
        transform: translate(300px , -300px);
        transition: 0.3s;
        display: none;
        height: auto;
        width: 100px;
        display: grid;
        place-items: center;
        /* background-color: transparent; */
        font-size: var(--textsizeNormal);
        color:white;
        position: fixed;
        right:0;
        background-color: var(--backgroundColor);
        /* animation-name: hide_menu;
        animation-duration: 2s;
        animation-timing-function: ease-in-out; */
}
.slide_menu_user_hide > ul{
    list-style: none;
}
/* 
@keyframes hide_menu {
    0% {height: auto;}
  
    99%{height: 1px;}

    100%{display: none;}
} */


.slide_menu_user{
height: auto;
    width: 100px;
    transform: translateX(0);
    transition: 0.3s;
    display: flex;
    justify-content: center;
    background-color: var(--backgroundColor);
    font-size: var(--textsizeNormal);
    color:white;
    position: fixed;
    right: 0;

}



.slide_menu_user > ul {
    padding: 0; 
    list-style:none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--backgroundColor);

}
.slide_menu_user > ul > li{
    text-align: center;
}









.on_page{
    text-decoration: underline; 
    color: rgb(121, 118, 118); 
   }










































































@media screen and (max-width:1200px) {

  


    .nav{
        height: 90px;
        background-color:var(--backgroundColor);
        color: var(--navtextColor);
        display: grid;
        place-items: center;
        width: 100%;
        padding:0px 0px 0px 0px;
      
    }
    .nav > ul{
      height: 100%;
      width: 95%;
       padding:0; 
       list-style: none;
        display: flex; 
        justify-content: space-between;
        align-items: center; 
    }
    .nav > ul > li.navbarlist{
        display: none;
    }
    /* .nav > ul > li.navbarlist > ul{
        
        padding:0; 
        list-style: none;
        display: flex;
        flex-direction: column;
     
        justify-content: center;
        font-size: 15px;
    } */

    .nav > ul > li.hamberger_icon{
        display: block;
    }
    .nav > ul > li.hamberger_icon > div{
        width: 30px;
        height: 30px;
        font-size: 35px;
        /* background-color: blue; */
        display: grid;
        place-items: center;
    }
    .nav > ul > li > ul{
        padding:0; 
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 15px;
    }
    
    .nav > ul > li.title {
     
        display: grid;
     place-items: center;
    }
    .nav > ul > li.title > ul {
  
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav > ul > li.title > ul > li {
        margin: 0;
        
    }
    .nav > ul > li.title > ul > li > img {
        height: 20px;
        width: 20px;
    }
    .nav > ul > li > ul > li.headerp{
    
    }
    .nav > ul > li > ul > li > div.header{
    
        place-items: center;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    }
    .nav > ul > li > ul > li{
        font-size: 15;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: normal;
        /* margin-inline-end: 50px; */
    }
    
    
    .nav > ul > li.profile{
    
        background-color: var(--backgroundColor);
        border-radius: 50%;
        height: 45px;
        width: 45px;
    
    
    }
    .nav > ul > li.profile > img{
        height: 100%;
        width: 100%;
    
    }
  






    .slide_menu_hide {
        display: block;
        transform: translateX(-400px);
        transition: 0.5s;
        height: auto;
        max-width: 150px;
        background-color: var(--backgroundColor);
        padding:5px 20px 5px 20px;
        box-shadow: var(--boxShadow);
        border-radius: 2px ;
        position: fixed;
        left:0px;
    }



    
    .slide_menu_active {
        display: block;
        height: auto;
        max-width: 150px;
        transform: translateX(0);
        transition: 0.5s;
        background-color: var(--backgroundColor);
        padding:5px 140px 5px 20px;
        box-shadow: var(--boxShadow);
        border-radius: 2px ;
        position: fixed;
        left:0px;
        

    }
    .slide_menu_active  > ul {
        padding:0; 
        list-style: none;
        font-family: var(--textFontFamily);
        color: white;
        display: flex;
        flex-direction: column;
        gap: 10px ;
    }



}




@media screen and (max-width:300px) {
    .nav > ul > li > ul > li > div.header{
        font-size: 12px;
        font-weight: 100;
        letter-spacing: 0px;
    }
}































































